<form #hradd="ngForm" form action="/hradd" method="GET" (ngSubmit)="hradd.valid && onSubmit(hradd)">
  <div class="row">
     
        <div class="row">
          <div class="input-field col s6">
            <label for="jobName">Job Name    </label> 
            <input id="jobName" #jobName="ngModel" [(ngModel)]="HrService.selectedHR.jobName" type="text" class="validate" style="width: 300px; height: 15px;" >
              
          </div>
          <div class="input-field col s6">  <label for="description">  Description   </label>
            <input id="description" #description="ngModel" [(ngModel)]="HrService.selectedHR.description"  type="text" class="validate" style="width: 300px; height: 15px;">
                
          </div>
        </div>
        <input type="submit" value="Apply" style="background-color:black;color:white;">
    
    </div>
    <div class="success" *ngIf="showSucessMessage">
        Applied successfully
      </div>
      
      <!-- Error message -->
      <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>
  </form>
  
  
  
  
  
