<form #UserProfile="ngForm" form action="/userProfile" method="GET" (ngSubmit)="UserProfile.valid && onSubmit(UserProfile)">
<div class="row">
   
      <div class="row">
        <div class="input-field col s6">
          <label for="name">Candidate Name    </label> 
          <input id="name" #name="ngModel" [(ngModel)]="CandiateService.selectedCandidate.name" type="text" class="validate" style="width: 300px; height: 15px;" >
            
        </div>
        <div class="input-field col s6">  <label for="age">  Age    </label>
          <input id="age" #age="ngModel" [(ngModel)]="CandiateService.selectedCandidate.age"  type="text" class="validate" style="width: 300px; height: 15px;">
              
        </div>
      </div>
     
      <div class="row">
          <div class="input-field col s12"> <label for="experience">Experience</label>
            <input id="experience" #experience="ngModel" [(ngModel)]="CandiateService.selectedCandidate.experience"  type="text" class="validate" style="width: 300px; height: 15px;">
          
          </div>
        </div>
      <div class="row">
         
        <div class="input-field col s12"><label for="qualification">Qualification</label>
          <input id="qualification" #qualification="ngModel" [(ngModel)]="CandiateService.selectedCandidate.qualification"  type="text" class="validate" style="width: 300px; height: 15px;">
         
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12"> <label for="email">Email</label>
          <input id="email" type="email" class="validate" >
          
        </div>
      </div>
      <div class="row">
        
      </div>
      <input type="submit" value="Apply" style="background-color:black;color:white;">
  
  </div>
  <div class="success" *ngIf="showSucessMessage">
      Applied successfully
    </div>
    
    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>
</form>












